body {
    height: 100%;
    min-width: 1060px;
    margin: 0;
    color: #66595c;
    font: 16px/1.7 normal normal;
    font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
    overflow: auto;
}
